# Polygon.io
POLYGON_API_KEY=your_polygon_api_key_here

# AWS
AWS_DEFAULT_REGION=eu-north-1

# Kafka
KAFKA_CLUSTER_ID=your_kafka_cluster_id_here

# AWS Secrets Manager — secret paths
SECRET_SPARK=stock-pipeline/spark
SECRET_PRODUCER=stock-pipeline/producer
SECRET_CONSUMER=stock-pipeline/consumer
SECRET_AIRFLOW=stock-pipeline/airflow
SECRET_ML=stock-pipeline/ml

# Airflow
AIRFLOW_ADMIN_PASSWORD=your_password_here
